<mat-sidenav-container>
    <mat-sidenav #sidenav class="sidenav">
        <mat-nav-list>
            <a mat-list-item (click)="sidenav-close()" [routerLink]="['/']">
                <mat-icon matListIcon class="mat-18">Home</mat-icon>
                <span matLine>Home</span>
                <span matLine class="secondary">Home</span>
            </a>
            <a mat-list-item (click)="sidenav-close()" [routerLink]="['/categories']">
                <mat-icon matListIcon class="mat-18">list</mat-icon>
                <span matLine>Categories</span>
                <span matLine class="secondary">Categories</span>
            </a>
            <a mat-list-item (click)="sidenav-close()" [routerLink]="['/tags']">
                <mat-icon matListIcon class="mat-18">bookmark</mat-icon>
                <span matLine>Tags</span>
                <span matLine class="secondary">Tags</span>
            </a>
            <a mat-list-item (click)="sidenav-close()" [routerLink]="['/questions']">
                <mat-icon matListIcon class="mat-18">question_answer</mat-icon>
                <span matLine>Questions</span>
                <span matLine class="secondary">Questions</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <!-- Body -->
    <div class="my-content">
        <mat-toolbar>
            <button mat-icon-button (click)="sidenav.open()">
              <mat-icon class="mat-18">menu</mat-icon>
          </button>
            <span>{{title}}</span>
            <span class="fill-remaining-space"></span>
            <span>rwa</span>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>